header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 100%;
    background-image: url("./images/header.png");
    background-size: cover;
    background-position: center;
    color: white;
}

h1 {
    padding-left: 50px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    padding-right: 50px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav li {
    padding: 30px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
    text-decoration: none;
}

nav a:visited {
    color: white;
    text-decoration: none;
}

body {
    color: white;
    background-color: rgb(74, 74, 74);
}

main {
    margin: 0px 100px 0px 100px;
}

h2 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

p {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardTitle {
    text-align: center;
    padding: 40px 20px 20px 20px;
}

.cardTitle h3 {
    font-size: 35px;
}

.cardTitle i {
    padding-left: 10px;
}

.projects a {
    color: transparent;
    text-decoration: none;
}

.projects a:hover {
    color: white;
}

.projects a:visited {
    color: white;
}

.cardX {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/coming-soon.png");
    background-size: cover;
    background-position: center;
}

.cardX:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/black.png");
    background-size: cover;
}

.card1 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/jate.png");
    background-size: cover;
}

.card1:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/black.png");
    background-size: cover;
}

.card2 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/social-network-api.jpg");
    background-size: cover;
}

.card2:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/black.png");
    background-size: cover;
}

.card3 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/regex.jpg");
    background-size: cover;
}

.card3:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/black.png");
    background-size: cover;
}

.card4 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/infinite-disc.png");
    background-size: cover;
    background-position: center;
}

.card4:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/black.png");
    background-size: cover;
}

.card5 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/the-tech-blog.png");
    background-size: cover;
    background-position: 5%;
}

.card5:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/black.png");
    background-size: cover;
}

.card6 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/e-commerce.jpg");
    background-size: cover;
}

.card6:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/black.png");
    background-size: cover;
}

.card7 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/employee-tracker.jpg");
    background-size: cover;
}

.card7:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/black.png");
    background-size: cover;
}

.card8 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/note-taker.png");
    background-size: cover;
    background-position: center;
}

.card8:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/black.png");
    background-size: cover;
}

.card9 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/team-profile-generator.png");
    background-size: cover;
    background-position: center;
}

.card9:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/black.png");
    background-size: cover;
}

.card10 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/readme-generator.jpg");
    background-size: contain;
}

.card10:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/black.png");
    background-size: cover;
}

.card11 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/drink.png");
    background-size: cover;
    background-position: center;
}

.card11:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/black.png");
    background-size: cover;
}

.card12 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/weather-dashboard.png");
    background-size: cover;
    background-position: center;
}

.card12:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/black.png");
    background-size: cover;
}

.card13 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/work-day-scheduler.png");
    background-size: cover;
    background-position: center;
}

.card13:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/black.png");
    background-size: cover;
}

.card14 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/coding-quiz.png");
    background-size: cover;
    background-position: center;
}

.card14:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/black.png");
    background-size: cover;
}

.card15 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/password-generator.png");
    background-size: cover;
    background-position: center;
}

.card15:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./images/projects/black.png");
    background-size: cover;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contactTitle {
    font-size: 20px;
}

.userInput {
    padding: 5px 400px 5px 5px;
    margin: 10px 0px 10px 0px;
}

.messageInput {
    padding: 5px 400px 130px 5px;
    margin: 10px 0px 10px 0px;
}

.submitButton {
    color: white;
    background-color: rgb(175, 175, 175);
    padding: 10px 40px 10px 40px;
    margin: 5px 10px 10px 0px;
    border-radius: 5px;
}

.submitButton:hover {
    color: white;
    background-color: grey;
    padding: 10px 40px 10px 40px;
    margin: 5px 10px 10px 0px;
    border-radius: 5px;
    cursor: pointer;
}

.resume {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

.resume:hover {
    color: blue;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.proficiencies {
    font-family: 'Courier New', Courier, monospace;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgb(25, 25, 25);
}

.footerContact {
    height: 40px;
    width: 40px;
    margin: 5px 15px 0px 15px;
    border-radius: 50%;
    opacity: .75;
}

.footerContact:hover {
    height: 45px;
    width: 45px;
    margin: 5px 15px 0px 15px;
    border-radius: 10px;
    opacity: 1;
}